

@font-face {
    font-family: Synapsian;
    src: url(synapsian/synapsian.ttf);
}

.syn {
    font-size: 3em;
    font-family: Synapsian;
}

.column {
    float: left;    
}

table {
    color: #111;
}

table.soft tr td {
    background-color: #CD9575;
}

table.hard tr td {
    background-color: #915C83;
}

table.sky tr td {
    background-color: #A1CAF1;
}

table.ground tr td {
    background-color: #D1BEA8;
}

td {
    font-size: 2em;
    padding: 20px 20px;
    background-color: #aaa;
}

body {
    margin:40px auto;
    line-height:1.6;
    font-size:18px;
    color:#eee;
    padding:0 10px; 
    text-align: center;
    background-color:#111;
}    
 
img {
    max-width:400px;
}

h1,h2,h3 { 
    line-height:1.2;
}

.nonsynapsian {
    font-family: initial;
}
