

@font-face {
    font-family: Synapsian;
    src: url(synapsian/synapsian.ttf);
}

.syn {
    font-size: 3em;
    font-family: Synapsian;
}

.column {
    display: inline-block;
    vertical-align: top;
}

.wrapper {
    margin:20px auto;
    background-color: rgba(0,0,0, 0.5);
}

table {
    color: #111;
    background-color: #000;
}

table.soft tr td {
    background-color: #CD9575;
}

table.hard tr td {
    background-color: #915C83;
}


td {
    font-size: 1em;
    padding: 5px 10px;
    background-color: #aaa;
}

body {
    margin:20px auto;
    line-height:1.6;
    font-size:14px;
    color:#eee;
    padding:0 10px; 
    text-align: center;
    background-image: url(https://systemspace.link/index.png);
}    
 
img {
    max-width:400px;
}

h1,h2,h3 { 
    line-height:1.2;
    text-shadow:
       -1px -1px 0 #000,  
       1px  -1px 0 #000,
       -1px 1px  0 #000,
       1px  1px  0 #000;
}

.nonsynapsian {
    font-family: initial;
}
